<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>关于</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    </head>
    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        孙越 
                    </h1>
                    <h2 class="subtitle">
                        物流信息模块
                    </h2>
                </div>
            </div>
        </section>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        朱旭
                    </h1>
                    <h2 class="subtitle">
                        用户模块
                    </h2>
                </div>
            </div>
        </section>
        <section class="hero is-success">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        孙元直 
                    </h1>
                    <h2 class="subtitle">
                        信息管理模块
                    </h2>
                </div>
            </div>
        </section>
        <section class="hero is-warning">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        王伟 
                    </h1>
                    <h2 class="subtitle">
                        前端
                    </h2>
                </div>
            </div>
        </section>
        <section class="hero is-danger">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        吕灵 
                    </h1>
                    <h2 class="subtitle">
                        数据库设计
                    </h2>
                </div>
            </div>
        </section>

    </body>
</html>
