{% extends "bootstrap/base.html" %}

{% block title %}Home{% endblock %}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='index/style.css') }}" rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/ css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/ css?family=Droid+Serif:400,400italic,700italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!-- script-for-menu -->
<script>
    $(document).ready(function(){
        $("span.menu").click(function(){
            $(".top-nav ul").slideToggle(200);
        });
    });
</script>
<script src="{{ url_for('static', filename='index/jquery.wmuSlider.js') }}"></script> 
<script>
    $('.example1').wmuSlider();         
</script> 	           	      
{% endblock %}

{% block content %}
<!--header-->
<div class="header-section">
    <div class="container">
        {% include "flash.html" %}
        <!--logo-->
        <div class="logo">
            <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='index/logo.png') }}" alt=""></a>
        </div>
        <!--top-nav-->
        <div class="sub-header">
            <div class="top-nav">
                <span class="menu"> </span>
                <ul>
                    <li class="active"><a href="{{ url_for('main.index') }}">&nbsp;&nbsp;首页&nbsp;&nbsp;</a></li>
                    <li><a href="{{ url_for('main.about') }}" target="_blank">&nbsp;&nbsp;关于我们&nbsp;&nbsp;</a></li>
                    <li><a href="{{ url_for('main.manage') }}">&nbsp;&nbsp;管理系统&nbsp;&nbsp;</a></li>
                    <li><a href="404.html">Recent Projects</a></li>
                    <li><a href="http://sunyue.site" target="_blank">Blog</a></li>
                    <li><a href="s969966195@outlook.com">Mail Us</a></li>
                </ul>
            </div>
        </div>
        <!--//End-slider-script-->
    </div>
</div>
<!--/header-->
<!--welcome-->
<div id="Welcome">
    <div class="container">
        <div class="wecome-main">
            <div class=" col-md-6 wecome-text">
                <h1>Welcome</h1>
                <span>欢迎来到课程设计
                </span>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;物流信息系统：是指由人员、设备和程序组成的、为物流管理者执行计划、实施、控制等职能提供信息的交互系统，它与物流作业系统一样都是物流系统的子系统。
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所谓物流信息系统，实际上是物流管理软件和信息网络结合的产物，小到一个具体的物流管理软件，大到利用覆盖全球的互联网将所有相关的合作伙伴、供应链成员连接在一起提供物流信息服务的系统，都叫做物流信息系统。
                </p>
                <div class= "wecome-button">
                    <a class="button rotate2" href="single.html">Read More<span> </span></a>
                </div>
            </div>	
            <div class= "col-md-6 wecome-img">
                <img src="{{ url_for('static', filename='index/wel-img.jpeg') }}" alt="">
            </div>
            <div class="clearfix"> </div>  			
        </div>
    </div>	
</div>
<!-- //End-welcome-->
<div class="featured-section">
    <div class="container">
        <h2>课题描述、系统的任务和目标</h2>
        <div class="featured-main">
            <div class=" col-md-4 feature-text">
                <img src="{{ url_for('static', filename='index/f1.jpg') }}" alt="">
                <h3>课题描述</h3>
                <p>Etiam feugiat lectus nisl, in euismod l
                ectus viverra et. Sed et scelerisqu
                e felis. Integer vel volutpat massa. Do
                nec id justo nisl. Vivamus malesuada,
                dolor a eleifend sagittis, neque arcu 
                semper mi, eu finibus ,</p>
                <div class= "wecome-button">
                    <a class="button rotate2" href="single.html">Read More<span> </span></a>
                </div>
            </div>
            <div class=" col-md-4 feature-text">
                <h3>Aenean aliquam pretium felis, eu 
                    varius sapien. Mauris porttitor .</h3>
                <p>Etiam feugiat lectus nisl, in euismod l
                ectus viverra et. Sed et scelerisqu
                e felis. Integer vel volutpat massa. Do
                nec id justo nisl. Vivamus malesuada,
                dolor a eleifend sagittis, neque arcu 
                semper mi, eu finibus ,</p>
                <div class= "wecome-button">
                    <a class="button rotate2" href="single.html">Read More<span> </span></a>
                </div>
            </div>	
            <div class=" col-md-4 feature-accord">
                <ul class="topic_grid">
                    <li class="list1"><h3 class="m_3">List of Features</span></h3><div class="clear5"></div></li>
                </ul>
                <div class="menu_vertical">
                    <section class="accordation_menu">
                        <div>
                            <input id="label-1" name="lida" type="radio" checked/>
                            <label for="label-1" id="item1"><i class="ferme"> </i><span class="m_5">标签一 </span><i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a1">
                                <ul class="news_list">
                                    <li class="date_desc">
                                        <p>标签一的内容</p>
                                    </li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <input id="label-2" name="lida" type="radio"/>
                            <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>标签二 <i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a2">
                                <ul class="news_list">
                                    <li class="date_desc">
                                        <p>标签二的模板</p>
                                    </li>
                                    <div class="clearfix"> </div>
                                </ul>      
                            </div>
                        </div>
                        <div>
                            <input id="label-3" name="lida" type="radio"/>
                            <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i>标签三 <i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a3">
                                <ul class="news_list">
                                    <li class="date_desc">
                                        <p>标签三的模板</p>
                                    </li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <input id="label-4" name="lida" type="radio"/>
                            <label for="label-4" id="item4"><i class="icon-trophy" id="i4"></i>标签四 <i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a4">
                                <ul class="news_list">
                                    <li class="date_desc">
                                        <p>标签四的模板</p>
                                    </li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <input id="label-5" name="lida" type="radio"/>
                            <label for="label-5" id="item5"><i class="icon-trophy" id="i5"></i>标签五 <i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a5">
                                <ul class="news_list">
                                    <li class="date_desc">
                                        <p>标签五的模板</p>
                                    </li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>	
</div>			

<!--/start-text-slider-->
<div  class="testimonials" id="testimonials">
    <div class="wmuSlider example1">
        <div class="container-flueid">
            <article style="position: absolute; width:64%; opacity: 0;"> 

                <div class=" cont span_2_of_3 client-main">
                    <div class="slide-text">
                        <p>买不了吃亏，买不了上当</p>
                        <span> </span>
                    </div>
                    <div class="clearfix"> </div>  
                </div>
            </article>
            <article style="position: absolute; width:64%; opacity: 0;"> 
                <div class=" cont span_2_of_3  client-main">
                    <div class="slide-text">
                        <p>感谢您的使用</p>
                        <span> </span>
                    </div>
                    <div class="clearfix"> </div>  
                </div>
            </article>
            <article style="position: absolute; width:64%; opacity: 0;"> 
                <div class="cont span_2_of_3  client-main">
                    <div class="slide-text">
                        <p>欢迎使用物流信息管理系统</p>
                        <span> </span>
                    </div>
                    <div class="clearfix"> </div>  
                </div>
            </article>
        </div>
    </div>
</div>
<!--//text-slider-->
	 
<!--/start-footer-->                                                             
<div class="footer-section">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid bottom-nav">
                <h3>Information </h3>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">首页</a></li>
                    <li><a href="{{ url_for('main.about') }}">关于我们</a></li>
                    <li><a href="{{ url_for('main.manage') }}">管理系统</a></li>
                    <li><a href="404.html">Recent Projects</a></li>
                    <li><a href="http://sunyue.site">Blog</a></li>
                    <li><a href="mail.html">Mail Us</a></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <div class="col-md-3 footer-grid contact">
                <h3>Contact</h3>
                <ul>
                    <li><a href="#">Tel:1(234) 567-8901</a></li>
                    <li><a href="#">Tel:1(234) 567-8936</a></li>
                    <div class="clearfix"> </div>
                </ul>

            </div>	
            <div class="clearfix"> </div>							
        </div>
    </div>
</div>
<!--//End-foote-->
<div class="copy-right-section">
    <div class="container">
        <div class="col-md-6 copy-right">
            <p>&copy; 2017.logistic</p>
        </div>
    </div>
</div>
{% endblock %}
