{% extends "base.html" %}

{% block content %}
{% include 'nav.html' %}
<div id="page-wrapper">
    {% include "flash.html" %}
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">管理页面</h1>
                <h1 class="page-subhead-line">课程设计：物流管理信息系统平台 </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="main-box mb-red">
                    <a href="#">
                        <i class="fa fa-bolt fa-5x"></i>
                        <h5>Zero Issues</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-box mb-dull">
                    <a href="#">
                        <i class="fa fa-plug fa-5x"></i>
                        <h5>40 Task In Check</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-box mb-pink">
                    <a href="#">
                        <i class="fa fa-dollar fa-5x"></i>
                        <h5>200K Pending</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div id="reviews" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h4><i class="fa fa-quote-left"></i>这里是公告一 <i class="fa fa-quote-right"></i></h4>
                                        <h5 class="pull-right"><strong class="c-black">管理员</strong></h5>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h4><i class="fa fa-quote-left"></i>这里是公告二 <i class="fa fa-quote-right"></i></h4>
                                        <h5 class="pull-right"><strong class="c-black">也是管理员</strong></h5>
                                    </div>

                                </div>
                                <div class="item">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h4><i class="fa fa-quote-left"></i>这里是公告三<i class="fa fa-quote-right"></i></h4>
                                        <h5 class="pull-right"><strong class="c-black">还是管理员</strong></h5>
                                    </div>
                                </div>
                            </div>
                            <!--INDICATORS-->
                            <ol class="carousel-indicators">
                                <li data-target="#reviews" data-slide-to="0" class="active"></li>
                                <li data-target="#reviews" data-slide-to="1"></li>
                                <li data-target="#reviews" data-slide-to="2"></li>
                            </ol>
                            <!--PREVIUS-NEXT BUTTONS-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'foot.html' %}
{% endblock %}
